In [28]:
#importacion de las librerias que se utilizaran en el codigo
import pandas as pd 
from pandas_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
# Establecer el idioma local en español
import locale
locale.setlocale(locale.LC_TIME, 'es_ES')

'es_ES'

In [46]:
#creacion de df por cada archivo suministrado de la informacion de las plataformas"
movies = pd.read_csv('movies_dataset.csv')

C:\Users\OKKA\AppData\Local\Temp\ipykernel_11032\529429876.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('movies_dataset.csv')

In [ ]:
movies.info()

In [47]:
#cambio de  nulos de  revenue, budget por  0.
movies["revenue"].fillna(0, inplace = True)
movies["budget"].fillna(0, inplace = True)

In [48]:
#Los valores nulos del campo release date deben eliminarse para poder realizar la transformacion de el formato de fecha
movies.dropna(subset=['release_date'], inplace=True)

In [49]:
#estandarizacion de fecha al formato AAAA-mm-dd
movies['release_date'] =movies['release_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').strftime('%Y-%m-%d') if len(x) > 2 else '')
#se eliminan los valores nulos despues de la transformacion de formato de fecha
movies = movies.drop(movies[movies['release_date'].isna()].index)

In [50]:
#crear la columna release_year donde extraerán el año de la fecha de estreno.
movies['release_year'] = movies['release_date'].str.slice(0,4)
#convertir la columna 'release_year'en formato fecha
movies['release_date'] = pd.to_datetime(movies['release_date'],format='%Y-%m-%d')
#crear la columna 'release_month'para tener acceso solo al mes 
movies['release_month'] = movies['release_date'].dt.strftime('%B')

In [51]:
movies['release_month']

0          octubre
1        diciembre
2        diciembre
3        diciembre
4          febrero
           ...
45460         mayo
45462    noviembre
45463       agosto
45464      octubre
45465        junio
Name: release_month, Length: 45379, dtype: object

In [25]:
#convertir los valores a tipo numerico y sino que se establezca como 'NaN'
movies['budget'] = pd.to_numeric(movies['budget'], errors='coerce')
#rempazo de los NaN por 0
movies['budget'] = movies['budget'].fillna(0)
movies['revenue'] = movies['revenue'].fillna(0)
#Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, 
# dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, 
# deberá tomar el valor 0.
movies['return'] = movies.apply(lambda x: x['revenue'] / x['budget'] if x['budget'] != 0 else 0, axis=1)

In [ ]:
movies.info()

In [26]:
#eliminación de columnas que no constituyen informacion relevante para las querys
movies=movies.drop(['video','imdb_id','adult','original_title','vote_count','poster_path','homepage'],axis=1)

In [27]:
movies.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10- 30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995,12.451801
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12- 15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035

In [ ]:
#report = ProfileReport(movies)
#report

In [56]:
movies['release_date']

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45460   1991-05-13
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45379, dtype: datetime64[ns]

In [57]:
import calendar
movies['dia_semana'] = movies['release_date'].dt.day_name()

In [58]:
movies['dia_semana']

0          Monday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
45460      Monday
45462    Thursday
45463      Friday
45464      Sunday
45465      Friday
Name: dia_semana, Length: 45379, dtype: object

In [53]:
movies['release_month'].count

<bound method Series.count of 0          octubre
1        diciembre
2        diciembre
3        diciembre
4          febrero
           ...
45460         mayo
45462    noviembre
45463       agosto
45464      octubre
45465        junio
Name: release_month, Length: 45379, dtype: object>

NameError: name 'app' is not defined